.im-icon {
  font-size: 2em;
  margin-left: 30px;
}

.navbar-brand-container {
  background-color: white;
  color: rgb(230, 15, 15);
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  margin-top: 20px;
  padding: 10px;
}